<!-- PARTIAL DEL HEAD -->
<%- include ('./partials/head', { extraFont: false, stylesheetPath: '/css/adminApt.css' }) %>

<!-- PARTIAL DEL HEADER -->
<%- include ('./partials/header') %>

<main>
    <section class="apartment-container">
        <h1 class="title">APARTAMENTOS</h1>

        <article class="cardsContainer">

            <!-- CARDS DE APARTAMENTOS -->
            <article class="card">
                <div>
                    <img src="/images/apartment.png" alt="Apartamento">
                </div>
                
                <p>1</p>
            </article>

            <article class="card">
                <div>
                    <img src="/images/apartment.png" alt="Apartamento">
                </div>
                
                <p>2</p>
            </article>
        </article>
    </section>
</main>

<!-- PARTIAL DEL FOOTER -->
<%- include ('./partials/footer') %>