<!-- PARTIAL DEL HEAD -->
<%- include ('./partials/head', { extraFont: false, stylesheetPath: '/css/apartamentoInfo.css' }) %>

<!-- PARTIAL DEL HEADER -->
<%- include ('./partials/header') %>

<main>
    <section class="apartment-container">
        <h1 class="title">INFORMACIÓN DE APARTAMENTO</h1>

        <article class="info-container">
            <p>Bloque: 1A</p>
            <p>Coeficiente pago administración: 5%</p>
            <p>Piso: 2</p>
            <p>Valor cuota de administración: $25000</p>
            <p>Número: 3</p>
            <p>Parqueaderos asociados: 25, 24</p>
            <p>Tamaño: 45 m2</p>
        </article>

        <h1 class="title">RESPONSABLE</h1>

        <article class="info-container">
            <p>Tipo Identificación: CC</p>
            <p>Identificación: 189222299</p>
            <p>Correo: ejemplo@gmail.com</p>
            <p>Nombre: Natalia Quintero</p>
            <p>Telefono: 7787778</p>
            <p>Genero: M</p>
        </article>

        <h1 class="title">HABITANTES</h1>

        <article class="info-container">
            <p>Tipo Identificación: CC</p>
            <p>Identificación: 189222299</p>
            <p>Correo: ejemplo@gmail.com</p>
            <p>Nombre: Natalia Quintero</p>
            <p>Telefono: 7787778</p>
            <p>Genero: M</p>
        </article>

    </section>
</main>

<!-- PARTIAL DEL FOOTER -->
<%- include ('./partials/footer') %>