<!-- PARTIAL DEL HEAD -->
<%- include ('./partials/head', { extraFont: false, stylesheetPath: '/css/consultarApt.css' }) %>

<!-- PARTIAL DEL HEADER -->
<%- include ('./partials/header') %>

<main>
    <section class="apartment-container">
        <h1 class="title">CONSULTE SU APARTAMENTO</h1>

        <article class="form-container">
            <form action="/apartamentos" method="post" id="search">

                <label for="numero">Numero:</label>
                <input type="text" id="numero" name="id">

                <button type="submit" id="buttonSearch">Buscar</button>
            </form>
        </article>
    </section>
</main>

<!-- SCRIPT PARA LA ALERTA -->
<script src="/scripts/consultAptAlert.js"></script>

<!-- PARTIAL DEL FOOTER -->
<%- include ('./partials/footer') %>