    <footer>
        <section class="footer-container">
            <section class="information-footer">
                <article class="logo-footer">
                    <img src="/images/LogoTitulo.png" alt="logo vivamos en paz">
                </article>
    
                <article class="links-footer">
                    <ul>
                        <li><a href="/">Aviso legal</a></li>
                        <li><a href="/">Politicas de privacidad</a></li>
                        <li><a href="/">Contactanos</a></li>
                        <li><a href="/">Terminos y condiciones</a></li>
                    </ul>
                </article>
            </section>

            <article class="line-container">
                <div class="line-footer"></div>
            </article> 

            <article class="copyright">
                <p>© Copyright 2024</p>
            </article>
    </footer>
</body>
</html>