<body>
    <header>
        <section class="header-container">
            
            <article class="image-container">
                <!-- LOGO SUPERIOR DE LA PAGINA -->
                <img class="logotipo" src="/images/Logotipo.png" alt="Conjunto vivamos en paz">
                <img src="/images/LogoTitulo.png" alt="Titulo vivamos en paz">
            </article>
    
            <article class="navbar">
                <!-- MENU DE NAVEGACION -->
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/apartamentos">Apartamentos</a></li>
                        <li><a href="/habitantes">Habitantes</a></li>
                        <li><a href="/administracion">Administración</a></li>
                    </ul>
                </nav>

                <div class="line-nav"></div>
            </article>

        </section>
    </header>